.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 100%;

  .messages {
    height: 85%;
    padding: 25px 10px;
    overflow: auto;

    .msg-item {
      margin: 25px 0;
      &.me {
        text-align: end;
        span:not(.ball) {
          box-shadow: 0px 0px 3px #75a1d1;
          background: #adc7e3;
          padding: 5px 5px 10px 10px;
          border-radius: 15px 15px 2px 15px;
          display: inline-flex;
        }
      }

      &.ot {
        span:not(.ball) {
          box-shadow: 0px 0px 3px #75a1d1;
          padding: 5px 10px 10px 5px;
          border-radius: 15px 15px 15px 2px;
          display: inline-flex;
        }
      }

      .load-row {
        width: 60px;
        height: 27px;
        text-align: center;
        box-shadow: 0px 0px 3px #75a1d1;
        border-radius: 15px 15px 15px 2px;
        margin: 25px 0;

        .ball {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50px;
          animation: animate-ball 600ms ease-in infinite alternate;
          margin: 0 2px;
          &:nth-child(2) {
            animation-delay: 0.32s;
          }
          &:nth-child(3) {
            animation-delay: 0.48s;
          }
        }
      }
    }
  }

  .msg-container {
    position: relative;
    width: 98%;
    border-radius: 50px;
    background: linear-gradient(
      135deg,
      rgb(218, 232, 247) 0%,
      rgb(214, 229, 247) 100%
    );
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(79, 156, 232, 0.7019607843) 0px 0px 5px 0px,
      rgba(79, 156, 232, 0.7019607843) 0px 0px 20px 0px;

    .emoji-btn {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 18px;
    }
  }

  .input {
    padding: 10px;
    width: 98%;
    background: linear-gradient(
      135deg,
      rgba(161, 202, 252, 0.795) 0%,
      rgba(163, 206, 255, 0.753) 100%
    );
    border: none;
    color: #5d85ab;
    font-size: 20px;
    border-radius: 50px;
  }

  .input:focus {
    outline: none;
    background: linear-gradient(
      135deg,
      rgb(239, 247, 255) 0%,
      rgb(214, 229, 247) 100%
    );
  }

  .send__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: 200ms;
    margin-left: 5px;
  }

  .send__icon:hover {
    border-left: 3px solid white;
    transform: scale(1.1);
  }

  .user-info {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(161, 202, 252, 0.795);

    svg {
      transition: 200ms;
      cursor: pointer;
      margin-right: 30px;
      &:hover {
        opacity: 0.7;
      }
    }

    .icon {
      display: flex;
      position: relative;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 22px;
      color: #fff;
    }

    .active {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #05c705;
      z-index: 1000;
      border-radius: 50%;
      left: 85px;
      top: 48px;
    }
  }
}

@keyframes animate-ball {
  0% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(3px);
  }
}
