<div class="container">
  <section *ngIf="step == stepMode.email">
    <h2>Enter E-mail for sent verify code</h2>
    <input
      [formControl]="emailFormControl"
      class="input"
      placeholder="E-mail"
    />
    <div *ngIf="emailFormControl.dirty" class="error-msg">
      <ng-container *ngIf="emailFormControl.hasError('email')">
        Enter valid email!
      </ng-container>
      <ng-container *ngIf="errorMsg">
        {{ errTxt }}
      </ng-container>
    </div>
  </section>
  <section *ngIf="step == stepMode.verify">
    <h2>Enter verify code</h2>
    <input
      [formControl]="verifyFormControl"
      class="input"
      placeholder="Verify code"
      maxlength="6"
      minlength="6"
    />
    <div *ngIf="emailFormControl.dirty" class="error-msg">
      <ng-container *ngIf="errorMsg">
        {{ errTxt }}
      </ng-container>
    </div>
  </section>

  <div class="btn-cont">
    <button *ngIf="step == stepMode.verify" (click)="step = stepMode.email">
      Back
    </button>
    <button (click)="btnClick()" [disabled]="disableBtn()">
      {{ step == stepMode.email ? "Next" : "Log in" }}
    </button>
  </div>
</div>
